//TODO Theme

$ms-theme-color-light: lighten(rgba(121,71,199,0.4),15%);
$ms-theme-color-main: rgba(121,71,199,0.9);
$ms-theme-color-dark: darken(rgba(121,71,199,1),15%);
$ms-theme-color-text-for-dark: rgba(255,255,255,0.9);
$ms-theme-color-text-for-light: rgba(0,0,0,0.9);

$ms-theme-color-danger:rgba(244,67,54,1);
$ms-theme-color-danger-light: lighten(rgba(244,67,54,1),15%) ;
$ms-theme-color-danger-dark: darken(rgba(244,67,54,1),15%) ;

$ms-theme-color-info:rgba(63,81,181,1);
$ms-theme-color-info-light:lighten(rgba(63,81,181,1),18%);
$ms-theme-color-info-dark:darken(rgba(63,81,181,1),15%);

$ms-theme-color-warning:rgba(255,193,7,1);
$ms-theme-color-warning:lighten(rgba(255,193,7,1),15%);
$ms-theme-color-warning:darken(rgba(255,193,7,1),15%);

$ms-theme-color-success:rgba(76,175,80,1);
$ms-theme-color-success:lighten(rgba(76,175,80,1),15%);
$ms-theme-color-success:darken(rgba(76,175,80,1),15%);

$ms-theme-color-default:rgba(224,224,224,1);

